h1{
    font-size: 50px;
    color: burlywood;
}
h3{
    font-size: 40px;
    color: lightskyblue;
}
h4{
    font-size: 35px;
    color: cornflowerblue;
}
h5{
    font-size: 30px;
    color: blue;
}
h6{
    font-size: 25px;
    color: darkorange;
}
.navbar{
    background-color: #6da599;
    padding: 20px;
}

.navbar .fontbig{
    font-size: 35px;
    color: #adbd1d
}

.navbar .navfont{
    font-size: x-large;
    color: #c2d62b ;
}